* {
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}
.title {
  display: flex;
  background: #e5cdff;
  height: 100px;
  width: 100%;
  color: rgb(255, 255, 255);
  font-weight: 600;
  align-items: center;
  justify-content: center;
}
.navbar_menu {
  background: #e5cdff;
  font-size: 20px;
  
}
.button a:link {
  color: rgb(129, 76, 76);
  font-weight: 600;
  cursor: pointer;
}
.button a:visited {
  color: rgb(255, 255, 255);
  font-weight: 600;
  cursor: pointer;
}
.button {
  background: #e5cdff;
  background: linear-gradient(to right, #ffd7b2, #fdbef5, #e5cdff);
  border-color: #e5cdff;
  border-style: solid;
  padding: 20px;
  width: 10%;
  border-radius: 6px;
  margin-left: 10px;
}
@media screen and (max-width: 950px) {
    .navbar_menu {
        background: #e5cdff;
        font-size: 20px;
        display: flex;
        list-style:none;
        justify-content: space-evenly;
        padding-left: 100px;
        padding-right: 30px;
        padding-bottom: 60px;
        
    }

    .title {
        background: #e5cdff;
        color: to right, #ffd7b2, #fdbef5, #e5cdff;
        font-weight: 600;
        justify-content:left;
        padding-left: 20px;
        padding-top: 50px;
      }
      
      .button {
        background: #e5cdff;
        background: linear-gradient(to right, #ffd7b2, #fdbef5, #e5cdff);
        border-color: #e5cdff;
        border-style: none;
        display: flex;
        width: 150px;
        justify-content: space-evenly;
       border-radius: 6px;
    }
}