.navbar {
  background-color: #648458e4;
  width: 100%;
}
.navelement a {
  color: #ececec;
  text-decoration: none;
}
.navelement {
  border: 1px solid white;
  padding: 10px;
}
@media (min-width: 500px) {
  .navbar {
    display: flex;
  }
}
@media (max-width: 500px) {
  .navbar {
    text-align: center;
  }
}
.picture {
  padding: 20px;
  width: fit-content;
}
